*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;   
}

button{
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 10px; 
    font-size: 15px;
}

    /* header style */  

    header{
        background-color: #b4d0e7;
    }

        /* nav */

        header nav{
            width: 100%;
            height: 80px;
            position: fixed;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 300px;
        }

        .nav-son{
            display: flex;
            justify-content: space-around;
            flex-basis: 580px;
            align-items: center;
        }

        /* hero */

        #hero{
            width: 60%;
            margin: auto;
            padding-top: 300px;
        }

        #hero h1{
            font-size: 60px;
            font-weight: bolder;
        }

/* debug rules */

*{
    border: 1px black solid;
}
    /* header style */

    header nav{
       background-color: pink;
    }

    