*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px;
    line-height: 200%;
}

button{
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 10px; 
    font-size: 16px;
    cursor: pointer;
}

.container{
    width: 60%;
    margin: auto;
}

.fa-solid{
    font-size: 45px;
}

    /* header style */  

    header{
        background-color: #b4d0e7;
    }

        /* nav */

        header nav{
            width: 100%;
            height: 80px;
            position: fixed;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 300px;
            background-color: #ffffff;
        }

        .nav-son{
            display: flex;
            justify-content: space-around;
            flex-basis: 580px;
            align-items: center;
        }

        /* hero */

        #hero{
            width: 85%;
            margin: auto;
            padding-top: 200px;
        }

        #hero h1 {
            text-align: center;
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 80px;
        }

         #hero-content{
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
        }

        #hero-content > div {
            padding: 30px;
        }

        #hero-text{
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 40px;
            
        }

        #hero-image{
            width: 800px;
            position: relative;
            top: 120px;
        }

    /* main style */
        
        /* section-plan */

        /*base container of this section */
         #plan{ 
            margin-top: 220px;
            margin-bottom: 180px;
        }

        /* title section */
        #plan h2 {
            font-size: 40px;
            font-weight: 800;
            margin-bottom: 80px;
        }

        /* input choise between */
        #year-plan{
            margin-left: 30px;
        }

        #plan-about{
            display: flex;
            justify-content: space-between;
        }

        /* col plans */
        .col-plan{
            width: calc(90% / 3);
            height: 800px;
            border: 1px solid black;
            margin-top: 80px;
        }

        /* different gender plans */
        .gender{
            text-align: center;
            border-bottom: 1px black solid;
            font-size: 15px;
        }

        /* emojy users */
        .fa-user{
            font-size: 15px;
        }

        /* last-plan */

        #assisted-choice{
            width: 100%;
            border: 1px black solid;
            margin-top: 80px;
        }

        #assisted-choice h3{
            border-bottom: 1px solid black;
        }
        
        /*section-contact style  */

        #contact{
            margin-top: 180px;
            margin-bottom: 180px;
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .macro-contact{ 
            width: 500px;
            height: 500px;
            margin-bottom: 30px;
         }

        .macro-contact img {
            max-width: 100%;
        }

        .macro-contact h3 {
            font-size: 30px;
            padding-bottom: 30px;
        }

        .macro-contact button{
            color: black;
            background-color: white;
            border: 1px solid black;
            padding: 10px 28px;
            margin-top: 30px;
        }

        /* section-operation style */

        #row-operation{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 60px;
            margin-bottom: 130px;
        }

        .col-operation{
            width: calc(94% / 3);

        }

        .img-operation {
            max-width: 100%;
        }

        #operation h2 {
            font-size: 40px;
        }

        #last-title {
            width: 700px;
            line-height: 150%;
            margin-bottom: 100px;
        }

        /* section company */
        #company{
            display: flex;
            margin-top: 150px;
            flex-wrap: wrap;
        }

        .block{
            width: calc(100% / 3 );
            height: 600px;
            text-align: left;
            overflow: auto;

        }

        .block h2{
            border-bottom: 1px black solid;
            width: 100px;
            margin-top: 50px;
            margin-left: 30px;
            padding-bottom: 50px;
        }

        .block p{
            padding: 40px 30px;
        }

        .block div{
            padding:40px 30px ;
        }

        .side-sponsor {
            display:flex;
            flex-wrap: wrap;
        }

        .sponsor{
            width: calc(100% / 2);
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sponsor img {
            max-width: 60%;
        }

        .left{
            justify-content: flex-start;
        }

        .right{
            justify-content: flex-end;
        }

        /* color start*/
        .green {
            background-color: #a2d39b;
        }
        .brown{
            background-color: #61082b;
        }
        .blue{
            background-color: #0093ce;
        }
        .orange{
            background-color: #ff1c1c;
        }
        .red{
            background-color: #d5001f;
        }
        .light-blue{
            background-color: #b4d0e7;
        }
        .dark-blue{
            background-color: #0d2481;
        }
        .yellow{
            background-color: yellow;
        }
        #big-sponsor{
            background-color: #f5f5f5;
        }
        /* end color */

        #free-try{
            width: 100%;
            height: 300px;
            background-color:#b4d0e7;
        }
        
        .last-block{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            height: 100%;
         }

        .last-block h2{
            color: #61082b;
            width: 450px;
            font-size: 40px;
            font-weight: 800;
            line-height: 150%;
        }

        .last-block button{
            background-color: white;
            color: black;
            padding: 15px 55px;
        }

        /* section faq */

        #faq{
            margin-top: 200px;
            margin-bottom: 350px;
        }

        #faq h2 {
            font-size: 45px;
            font-weight: 800;
            padding-bottom: 120px;
            border-bottom: 1px solid black;
        }

        .question{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top:  30px;
            padding-bottom: 30px;
            border-bottom: 1px solid black;
        }

        .fa-angle-down{
            font-size: 18px;
            cursor: pointer;
        }

    /* footer */

    footer{
        background-color: black;
        height: 800px;
    }

    #footer-container{
        height: 70%;
        width: 85%;
        margin: auto;
        margin-top: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #footer-container a{
        list-style:  none;
        text-decoration: none;
        color: white;
        line-height: 300%;
        font-size: 18px;
    }

    .footer-title-list {
        padding-bottom: 65px;
        font-size: 25px;
        color: white;
    }

    #language-container{
        width: 85%;
        margin: auto;
    }

    #language{
        font-size: 18px;
        color: gray;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 14px;
        padding-top: 50px;
        border-top: gray 1px solid;
        width: 150px;
    }

    #language .fa-solid{
        font-size: 14px;
    }




        

        





















/* debug rules */

/* section plan style */

.col-plan{
     background-color: pink;
}

#assisted-choice{
    background-color: pink;
    height: 300px;
}




 

